.hire{
	border-radius: 5px;
}
.hire:hover{
	background-color: #0075f6;
	color: white;
	box-shadow: 0 0 5px #888888;
}

.myskill{
	text-align: center;
	padding: 20px 30px; 
	/*border: 2px solid black;*/
}

.flip-box {
  background-color: transparent;
  width: 220px;
  height: 180px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /*padding : 10px;*/
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
	text-align: center;
  color: black;
  /*border-radius: 25px;*/
  
  /*background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(152,140,231,1) 0%, rgba(0,212,255,1) 54%);*/
  
  color: white;
}

/* Style the back side */
.flip-box-back {
	
  text-align: center;
  /*background-color: #0075f6;*/
  transform: rotateX(180deg);
  border-radius: 50%;
  padding:60px;
  /*box-shadow : 0 0 8px grey;*/
}
.skillnum{
  font-family: 'Germania One', cursive;
  font-size: 40px;
	color: #0075f6;
}
